#Folders
Library/
Temp/
Builds/
obj/
bin/

*.suo
*.user
*.userprefs
*.pidb

/Client.RuntimeUnity/Assets/External
/Client.RuntimeUnity/*.csproj
/Client.RuntimeUnity/*.sln
/Client.RuntimeUnity/UpgradeLog.*

#OS Junk
Thumbs.db
.DS_Store*
ehthumbs.db
Icon7

/.project
/Client.RuntimeUnity/*.Cache
/Client.RuntimeUnity/Mods
/Client.RuntimeUnity/Settings.xml
/Client.RuntimeUnity/Settings*.xml
